<!-- Template for home page -->
<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Cloud Native App</title>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <h1></h1>
      <div align="right"> Welcome {{ session }}</div>
      <br>
      <div id="react"></div>

    </div>
    <script>
    // Check browser support
    if (typeof(Storage) !== "undefined") {
    // Store
      localStorage.setItem("sessionid","{{ session }}" );
    // Retrieve
      document.getElementById("react").innerHTML = localStorage.getItem("sessionid");
    } else {
      document.getElementById("react").innerHTML = "Sorry, your browser does not support Web Storage...";
    }
    </script>
    <!-- scripts -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://npmcdn.com/react-router@2.8.1/umd/ReactRouter.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <!-- <script type="text/jsx" src="../static/main.jsx"></script> -->

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="./static/build/bundle.js"></script>

  </body>
</html>
