<link rel="stylesheet" href="/static/style.css" type="text/css">
{% extends "layout.html" %}
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<center><button onclick="lock.show();">Login using Auth0</button></center>
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">

				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

	                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" ><br>
									<br>
                 <a href="{{ url_for('signup') }}">Sign up now</a> to create your account.
			</div>
		</div>
	</div>
</form>
<script src="https://cdn.auth0.com/js/lock/10.14/lock.min.js"></script>
<script>
  var lock = new Auth0Lock(os.environ['CLIENT_ID'], 'manishsethis.auth0.com', {
    auth: {
      redirectUrl: 'http://localhost:5000/callback',
      responseType: 'code',
      params: {
        scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
      }
    }
  });
</script>


{% endif %}
{% endblock %}
