<html>
   <head>
       <title>Twitter App Demo</title>
       <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
   </head>
   <body>
       <div id="container">
           <div class="title">
               <h1>Enter your name</h1>
           </div>
           <div id="content">
               <form method="get" action="{{ url_for('addname') }}">
                 <label for="yourname">Please enter your name:</label>
                 <input type="text" name="yourname" /><br />
                 <input type="submit" />
               </form>
           </div>
           <div class="title">
               <h1></h1>
           </div>
               <code><pre>

               </pre></code>
           </div>
       </div>
   </body>
</html>
